.rating {
    position: relative;
    font-size: 40px;
    display: inline-block;
}
.rating::before {
    content: "★★★★★";
    display: block;
}
.rating__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.rating__item {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.rating__item:checked,
.rating__item:checked ~ .rating__label {
    color: rgb(231, 231, 32);
}
.rating__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #c4bfb8;
}
.rating__label::before {
    content: "★";
    display: block;
    transition: all 0.3s;
}
.rating__label:hover, 
.rating__label:hover ~ .rating__label,
.rating__label:checked ~ .rating__label:hover {
    color: rgb(241, 241, 144);
}