.latest-shopping {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 150px;
    margin-bottom: 39px;
}
.latest-shopping__title {
    font-weight: 500;
    font-size: 33px;
    line-height: 130%;
    text-transform: capitalize;
}
.latest-shopping__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-transform: capitalize;
    color: #A18A68;
    transition: all 0.3s;
}
.latest-shopping__link:hover {
    text-shadow: 1px -1px 1px #453926;
}

@media (max-width: 600px) {
    .latest-shopping {
        padding-top: 90px;
    }
    .latest-shopping__title {
        font-size: 24px;
    }
    .latest-shopping__link {
        font-size: 18px;
    }
}