.product__container {
    padding-top: 100px;
    padding-bottom: 50px;
}
.product {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    max-height: 450px;
}
/* .product__image {
    flex: 0 1 60%;
    border-radius: 8px;
    overflow: hidden;
} */
.product__slider {
    flex: 0 1 58%;
    border-radius: 8px;
    overflow: hidden;
}
.product__slider:hover {
    cursor: pointer;
}
.product__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product__content {
    flex: 0 1 40%;
}
.product__title {
    font-weight: 400;
    font-size: 26px;
    line-height: 135%;
    text-transform: capitalize;
}
.product__price {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #A18A68;
    margin: 23px 0 55px;
}
.product__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #707070;
    margin: 15px 0 48px;
}
.product__category {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #707070;
    margin-top: 10px;
}
.product__category span {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
}
.product__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    width: 360px;

    height: 53px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: all 0.3s;
}
.product__btn:hover {
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.521);
    cursor: pointer;
}
.product__btn.added {
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.7);
}
.product__btn.added::after {
    content: "x";
    display: inline-block;
    transform: translate(130px);
    color: red;
}
.product__btn.added:hover {
    background-color: #8b0505ed;
}

@media (max-width: 768px) {
    .product__container {
        padding-top: 50px;
    }
    .product {
        flex-wrap: wrap;
        justify-content: center;
    }
    /* .product__image {
        flex: 0 1 auto;
    } */
    .product__slider {
        flex: 0 1 auto;
    }
    .product__content {
        flex: 0 1 auto;
    }
    .product__price {
        margin-bottom: 30px;
    }
}