footer {
    background-color: rgb(213 214 163);
    position: relative;
    z-index: 3;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    column-gap: 15px;
    row-gap: 30px;
}
.footer__links {
    display: flex;
    column-gap: 41px;
}
.footer__links a {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #707070;
    text-transform: uppercase;
    flex: 1 0 auto;
}
.footer__form {
    justify-self: end;
    border-bottom: 1px solid #000;
}
.footer__form input {
    width: 350px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
}
.footer__form input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #707070;
}
.footer__form-btn {
    color: #707070;
    background-color: transparent;
    border: none;
    font-size: 25px;
}
.footer__copyring {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #000000;
}
.footer__social-media {
    justify-self: end;
    width: 156px;
    padding-bottom: 11px;
}
.social-media__icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.social-media__icon {
    width: 18px;
    height: 18px;
}
.social-media__icon:nth-child(2) {
    width: 10px;
}
.social-media__icon:nth-child(4) {
    width: 20px;
}
.social-media__icon a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 900px) {
    .footer__links {
        column-gap: 20px;
    }
    .footer__links a {
        font-size: 14px;
    }
    .footer__form input {
        width: 300px;
    }
}
@media (max-width: 768px) {
    .footer__links {
        flex-direction: column;
    }
    .footer__form input {
        width: 250px;
    }
}
@media (max-width: 600px) {
    .footer__form input {
        width: 200px;
    }
    .footer__form-btn {
        font-size: 16px;
    }
}
@media (max-width: 480px) {
    .footer__container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer__form {
        justify-self: center;
    }
    .footer__form input {
        width: 250px;
    }
    .footer__social-media {
        justify-self: center;
        grid-row: 3/4;
    }
}